*{
  background-color: white;
  font-family: Vendana;
  }

#header, #bodycontainer, #footer {
  background-image: url("../imgs/bkimage.jpeg");
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  border:2px solid blue;
}

#header h2 {
  background-image: url("../imgs/bkimage.jpeg");
  text-align: center;
  font-family: cursive;
  margin:.5em;
}

#navigation, #content, #imageleft {
  border:1px solid black;
}

#navigation {
  width:180px;
  float:left;
  margin: .5em;
}

#imageleft {
  width:180px;
  float:left;
  margin: .5em;
}

#content {
  padding: 10px;
  margin: .5em;
  margin-left:200px;
  min-height: 400px;
}

#footer {
  font-size:90%;
  text-align:center;
}

.clear {
  clear:left;
}

ul li {
  list-style: none;
}

a:hover {
  text-decoration: none;
  color: green;
}